@import "node_modules/normalize.css/normalize";
@import "variables";
@import "mixins";
@import "scaffolding";

body {
  // background-image: linear-gradient(to right, rgb(84, 98, 242), rgb(88, 91, 236), rgb(91, 84, 231), rgb(95, 78, 225), rgb(99, 71, 219), rgb(102, 64, 213), rgb(106, 57, 208), rgb(109, 50, 202), rgb(113, 43, 196), rgb(117, 37, 190), rgb(120, 30, 185), rgb(124, 23, 179));
  background-color: #000000;
}

#scene {
  display: block;
  width: 100vw;
  height: 100vh;
}
